_activeWatchAgentServerURL=
_activeWatchAgentWebServerPassword=
_activeWatchAgentWebServerUserName=
_activeWatchServerURL=http://tms-siteview.mercuryinteractive.com/topaz/
_activeWatchWebServerPassword=
_activeWatchWebServerUserName=
_additionalSchedule=_id=1 _name=every_day,_09:00-18:00 _schedule=UE9:00-18:00,ME9:00-18:00,TE9:00-18:00,WE9:00-18:00,RE9:00-18:00,FE9:00-18:00,SE9:00-18:00
_additionalSchedule=_id=2 _name=every_day,_18:00-09:00 _schedule=UD9:00-18:00,MD9:00-18:00,TD9:00-18:00,WD9:00-18:00,RD9:00-18:00,FD9:00-18:00,SD9:00-18:00
_additionalSchedule=_id=3 _name=weekdays,_all_day _schedule=UD00:00-24:00,SD00:00-24:00
_additionalSchedule=_id=4 _name=weekdays,_09:00-18:00 _schedule=UD00:00-24:00,ME9:00-18:00,TE9:00-18:00,WE9:00-18:00,RE9:00-18:00,FE9:00-18:00,SD00:00-24:00
_astraKeepLogFiles=
_nextAdditionalScheduleID=5
_adminMinimumLength=
_sslJavaEnabled=true
_adminRequireAlpha=
_adminRequireNumber=
_adminRequirePunctuation=
_adminExpireDays=
_adminChangedDate=
_adminRedirectFile=
_alertIconLink=CHECKED
_alertReportDefaultPeriod=86400
_alertSummaryFormat=
_allowUnixToNT=
_apacheContentMatch=/CPULoad: (\d*[.]*\d+).*?ReqPerSec: (\d*[.]*\d+).*?BytesPerSec: (\d*[.]*\d+).*?BusyServers: (\d+).*?IdleServers: (\d+)/s
_AudioSleepTime=
_backupDyns=NotOnYourLife
_browsableExeTimeout=45000
_centrascopeDefaultXMLProperties=property=stateString&property=category&propertySet=mainParameters&propertySet=links&property=last&property=_group&property=_id&property=groupID
_centrascopeRefreshMatch=/<HR>(.*)<HR>/s
_centrascopeRemoteNTTestMatch=/network connection.*(<HR>.*<\/H3><P>)/s
_centrascopeRemoteTestMatch=/(Testing connection.*<\/PRE>)\s+<P>.*<\/HTML>/s
_centrascopeServiceDetailMatch=/(<br><table>.*<\/table><br>)/s
_centrascopeTestMatch=/(<PRE>.*<\/PRE>)/s
_centrascopeToolMatch=/<\/FORM>(.*)<CENTER>.*$/s
_centrascopeTransWizardMatch=/<\/FORM>(.*)<CENTER>.*$/s
_configJdbcURL=
_configJdbcCreate=CREATE TABLE SiteViewConfig (serverName VARCHAR(255), groupID VARCHAR(255), frameIndex INT, frameID VARCHAR(255), settingName VARCHAR(255), settingLine INT, lineChunk INT, chunkValue VARCHAR(255))
_configJdbcDelete=DELETE FROM SiteViewConfig WHERE serverName = ? AND groupID = ?
_configJdbcInsert=INSERT INTO SiteViewConfig VALUES(?,?,?,?,?,?,?,?)
_configJdbcModification=SELECT groupID, chunkValue FROM SiteViewConfig WHERE serverName = ? AND settingName = '_modificationTime' AND frameIndex = 1
_configJdbcSelect=SELECT * FROM SiteViewConfig WHERE serverName = ? AND groupID = ? ORDER BY frameIndex, settingName, settingLine, lineChunk
_configJdbcUpdateModification=UPDATE SiteViewConfig SET chunkValue = ? WHERE serverName = ? AND groupID = ?  AND frameIndex = 1 AND settingName = '_modificationTime'
_configJdbcDriver=com.inet.tds.TdsDriver
_configJdbcUser=
_configJdbcPassword=
_configJdbcReconnect=600
_configJdbcAlwaysUpdate=
_cpuMaxProcessors=16
_cpuEnableErrorAt100=true
_dailyLogKeepDays=40
_dailyLogTotalLimit=
_dailySiteViewLogs=true
_databaseMaxColumns=10
_databaseMaxRows=1
_databaseMaxSummary=200
_databaseMonitorCacheConnections=true
_defaultAuthWhenToAuthenticate=authOnFirst
_defaultPrecision=0
_delayBetweenPages=5
_dependsOnRecursive=
_dependsVerifyDisabled=
_dialupOptions=
_disableLoginChangePassword=
_disableLoginPage=
_disableTopazWatchdog=
_dnsServerTags=Server:,Servidor:,Serveur:,Serveur\u00FF:
_dnsNameTags=Name:,Nombre:,Navn:,Nome:,Nom :,Nom\u00FF:
_dynamicOID=BIGIP-4.1.1PoolIncluded-(1.3.6.1.4.1.3375.1.1.8.2.1.1)
_J2EERealtimeMonitorChunkSize=500
_J2EEMonitorMaxCounterNameLen=600
_J2EEReportMonitorMaxCounters=500
_enableSNMP=1
_errorInsertHTML=
_eventLogMessagesToSave=10
_exclusiveMonitorTimeout=300
_fileCheckFrequency=120
_ftpContentMatchMax=50000
_ftpMaxThreads=1
_ftpDownloadLimit=-1
_globalDependsCondition=
_globalDependsOn=
_goodInsertHTML=
_groupRefreshRate=60
_headerHTML=
_headerBodyTag=
_healthCheckForUniqueMonitorNames=
_healthScheduleMinutes=3
_healthScheduleMinutesMg=5760
_hideReportErrors=
_hideReportGraphs=
_hideReportLinks=
_hideReportTables=
_hideServerInSubject=
_httpListenerIP=
_httpPort=8888
_httpKeepAliveEnabled=true
_httpSecurePort=
_httpSecureKeyPassword=(0x)MGNCOIMKMGMGNOOAMK
_httpSecureKeystorePassword=(0x)MDMKOHNIMDMLOBNBNIKL
_httpCharSet=
_httpCharSetOption=default,
_httpsRemoteMaximum=
_httpTimeOutToConnectMS=120000
_httpTimeOutNoTrafficMS=120000
_ignoreTemplateCache=
_ignoreMissingTemplateProperties=
_includeAlertLogOld=true
_initialMonitorDelay=300
_initialLoginEmail=
_installed=1
_ldapAuthenticationCaching=
_ldapCacheExpirationInSecs=
_license=
_licenseSalesURL=http://www.mercuryinteractive.com/company/contact_us
_linkSummaryMax=500
_linkMonitorJdbcEnabled=
_localeCountry=
_localeEnabled=CHECKED
_localeLanguage=
_localPortRetryCount=25
_lockWebserverAddress=
_logCollectorRefresh=60
_logCollectorThreads=10
_logDailyFileBufferDuration=0
_logDailyFileMaxBufferSize=0
_logFileBufferDuration=0
_logFileMaxBufferSize=0
_logKeepDays=0
_logJdbcAutoCommitSiteViewLog=20
_logJdbcCreateSiteViewLog=CREATE TABLE SiteViewLog (datex VARCHAR(255), serverName VARCHAR(255), class VARCHAR(255), sample VARCHAR(255), category VARCHAR(255), groupName VARCHAR(255), monitorName VARCHAR(255), status VARCHAR(255), monitorID VARCHAR(255), value1 VARCHAR(255), value2 VARCHAR(255), value3 VARCHAR(255), value4 VARCHAR(255), value5 VARCHAR(255), value6 VARCHAR(255), value7 VARCHAR(255), value8 VARCHAR(255), value9 VARCHAR(255), value10 VARCHAR(255))
_logJdbcDriverSiteViewLog=sun.jdbc.odbc.JdbcOdbcDriver
_logJdbcInsertSiteViewLog=INSERT INTO SiteViewLog VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)
_logJdbcMethodSiteViewLog=
_logJdbcPasswordSiteViewLog=
_logJdbcPropertyFilterSiteViewLog=
_logJdbcReconnectSiteViewLog=600
_logJdbcURLSiteViewLog=
_logJdbcURLBackupSiteViewLog=
_logJdbcUserSiteViewLog=
_logMonitorDetailsMax=1000
_mailCharSet=
_mailSubjectCharSet=
_mailServer=
_mailSubjectMax=160
_mainHTML=
_mainBodyTag=
_mainRefreshRate=60
_mainGaugesPerRow=3
_maxLogSize=16000000
_maxAmountToRead=50000
_maxAuxLogSize=1000000
_maxMonitorProcesses=5
_maxMonitorsRunning=100
_maxMonitorSkips=6
_maxNumberGroupNameLines=2
_maxScriptAlertProcesses=5
_maxReportErrors=100
_maxReportWarnings=100
_maxWordLength=24
_maximumReports=10
_memoryPageSize=8192
_monitorDelayBetweenRefresh=1000
_monitorProcessCheckDelay=180
_noCheckDefaultThresholds=true
_NTCounterMonitorMaxCounters=8
_NTCounterSummaryMax=3
_NTEventLogMonitorDetailsMax=1000
_NTSSHTimeout=
_onlyLogEnabledMonitors=
_overviewRefreshRate=60
_overviewServerFont=+0
_overviewGroupFont=-1
_overviewHTML=
_overviewTableOptions=border=0 cellspacing=0
_overviewOptions=toolbar=no,width=400,height=400,directories=no,status=no,scrollbars=yes,resizable=1,menubar=no
_overviewColumns=1
_overviewHideLicense=
_overviewHideUserLinks=
_overviewHideUserGroups=
_overviewHideAdminGroups=
_overviewHideTree=
_overviewBGColor=#000000
_pagerAlphaMax=128
_pagerInitOptions=
_pagerSendOptions=
_pagerAttempts=4
_pagerAttemptDelay=120
_pagerTimeout=60
_pingPacketsInitial=1
_pingPacketsRetry=5
_postAttempts=4
_postAttemptDelay=120
_postLogFile=
_portalFirstRun=true
_portMonitor=7	Echo	Echo test\r\n	Echo test
_portMonitor=13	Daytime
_portMonitor=21	FTP		220
_portMonitor=23	Telnet
_portMonitor=25	SMTP		220
_portMonitor=70	Gopher	\r\n	1
_portMonitor=110	POP3		+OK
_portMonitor=119	News		200
_portMonitor=143	IMAP4
_portMonitor=1494	Citrix		ICA
_portMonitor=6667	IRC
_portMonitor=1645	RADIUS	\x01S\x00\x2cSiteViewRADIUS1\x01\x06test\x02\x12password01234567	\x02S\x00	UDP
_processPoolDebugLevel=1
_processPoolKillTimeout=120000
_processPoolMaxPerPool=50
_progressRefreshRate=20
_reportAutoScale=
_reportDefaultSamples=20
_reportDelimiter=,
_reportFooterHTML=
_reportHideLogo=TRUE
_reportHTML=
_reportIconLink=CHECKED
_reportImageType=jpg
_reportIndexHTML=
_reportMaxBuckets=100
_reportNoEmailEmpty=
_reportScale=1,2,5,10,20,50,100,200,500,1000,2000,5000,10000,20000,50000,100000
_reportFormat=_id=noBorders _title=color_background,_no_table_borders _reportTableHTML=CELLSPACING=1_BORDER=0
_reportFormat=_id=whiteBackground _title=white_background _reportGraphBackgroundColor=#FFFFFF _reportTableHeaderHTML=BGCOLOR="#FFFFFF" _reportTableDataHTML=BGCOLOR="#FFFFFF"
_reportTableHTML=BORDER=1 CELLSPACING=0
_reportTableHeaderHTML=BGCOLOR="#88AA99"
_reportTableDataHTML=BGCOLOR="#DDDDDD"
_reportTableErrorColor=#EE7777
_reportTableDisabledColor=#44AACC
_reportTableNoDataColor=#FFFFFF
_reportTableWarningColor=#EEEE77
_reportTableGoodColor=#88CC99
_reportGraphErrorColor=#EE7777
_reportGraphMaxColor=#CCCCCC
_reportGraphDisabledColor=#44AACC
_reportGraphNoDataColor=#FFFFFF
_reportGraphWarningColor=#EEEE77
_reportGraphGoodColor=#88CC99
_reportGraphBackgroundColor=#DDDDDD
_scriptMonitorLinesToSave=25
_scriptMonitorReplacementChars=$ %
_serverReadRefresh=60000
_serverReadPause=1000
_serverReadThreadCount=5
_shutdownOnSkips=true
_shutdownTimeout=60
_silverstreamContentMatch=/hits:(\d+).*?bytes:(\d+).*?Request processing times:.*?avg.*?max.*?<th align="center">\d+<th align="center">(\d+).*?Thread counts:.*?free.*?idle.*?total.*?<th align="center">(\d+)<th align="center">(\d+)<th align="center">(\d+).*?Memory status:.*?Free memory.*?Total memory.*?GC Count.*?<th align="center">(\d+).*?<th align="center">(\d+).*?<th align="center">(\d+).*?Current load:(\d+).*?Idle sessions.*?Total sessions.*?<th align="center">(\d+).*?<th align="center">(\d+)/s
_siteseerAccount=
_siteseerHidden=true
_siteseerHost=
_siteseerLoginInURL=
_siteseerUsername=
_siteseerTitle=SiteSeer
_siteseerPassword=
_siteseerProxy=
_siteseerProxyUsername=
_siteseerProxyPassword=
_siteseerReadOnlyPassword=
_siteseerReadOnlyUsername=
_snmpMonitor=1.3.6.1.2.1.1.1	system.sysDescr
_snmpMonitor=1.3.6.1.2.1.1.3	system.sysUpTime
_snmpMonitor=1.3.6.1.2.1.4.3	ip.ipInReceives
_snmpMonitor=1.3.6.1.2.1.4.6	ip.ipForwDatagrams
_snmpMonitor=1.3.6.1.2.1.2.2.1.8	ifSpecific.ifOperStatus
_snmpMonitor=1.3.6.1.2.1.2.2.1.5	ifSpecific.ifSpeed
_snmpMonitor=1.3.6.1.2.1.2.2.1.10	ifSpecific.ifInOctets
_snmpMonitor=1.3.6.1.2.1.2.2.1.11	ifSpecific.ifInPackets
_snmpMonitor=1.3.6.1.2.1.2.2.1.13	ifSpecific.ifInDiscards
_snmpMonitor=1.3.6.1.2.1.2.2.1.14	ifSpecific.ifInErrors
_snmpMonitor=1.3.6.1.2.1.2.2.1.16	ifSpecific.ifOutOctets
_snmpMonitor=1.3.6.1.2.1.2.2.1.17	ifSpecific.ifOutPackets
_snmpMonitor=1.3.6.1.2.1.2.2.1.19	ifSpecific.ifOutDiscards
_snmpMonitor=1.3.6.1.2.1.2.2.1.20	ifSpecific.ifOutErrors
_snmpMonitor=1.3.6.1.4.1.9.2.1.8	cisco.system.freeMem
_snmpMonitor=1.3.6.1.4.1.9.2.1.58	cisco.cpu.avgBusy5
_snmpMonitor=1.3.6.1.4.1.9.2.1.57	cisco.cpu.avgBusy1
_snmpMonitor=1.3.6.1.4.1.9.2.1.79	cisco.system.envTestPt1Measure
_snmpMonitor=1.3.6.1.4.1.9.2.2.1.1.6	cisco.locIfInBitsSec
_snmpMonitor=1.3.6.1.4.1.9.2.2.1.1.7	cisco.locIfInPktsSec
_snmpMonitor=1.3.6.1.4.1.9.2.2.1.1.8	cisco.locIfOutBitsSec
_snmpMonitor=1.3.6.1.4.1.9.2.2.1.1.9	cisco.locIfOutPktsSec
_snmpMonitor=1.3.6.1.4.1.9.2.2.1.1.14	cisco.locIfInOverrun
_snmpMonitor=1.3.6.1.4.1.9.2.2.1.1.25	cisco.locIfCollisions
_snmpMonitor=1.3.6.1.4.1.9.2.2.1.1.26	cisco.locIfInputQueueDrops
_snmpMonitor=1.3.6.1.4.1.9.2.2.1.1.27	cisco.locIfOutputQueueDrops
_snmpMonitor=1.3.6.1.4.1.9.2.2.1.1.44	cisco.locIfipInOctets
_snmpMonitor=1.3.6.1.4.1.9.2.2.1.1.45	cisco.locIfipOutOctets
_snmpMonitorMaximum=10
_SNMPTrapMonitorDetailsMax=1000
_sslgetOptions=
_sslgetMaximum=4
_sslgetMaximumPerGroup=
_sslSessionKeepAlive=true
_sslTrustedCertKeyStoreFile=
_sslTrustedCertKeyStorePassword=
_sslAcceptAllUntrustedCerts=false
_startupScript=
_tempDirMaxSize=10000
_timeZoneOffset=-999
_threadPoolMaxIdle=100
_topazAlertsEnabled=0
_topazLogMonitorCache=100
_topazConfigHistoryMaxSize1=50000000
_topazConfigSize=100
_topazLogTimeCache=60
_topazConfigInterval=30
_topazMaxPersistenceDirSize=1000
_topazMaxOldDirs=10
_topazSyncFrequency=300
_topazWatchdogExistInTms=false
_tracerouteCommand=
_urlAllowNoStatus=
_urlContentMatchMax=50000
_urlContentMatchDisplayMax=150
_urlDetailLogEnabled=
_urlHTMLInJavaScript=
_urlItemErrorDisplayMax=2
_urlKeepAlive=0
_urlLoadThreads=1
_urlMonitorUseApacheHttpClient=
_urlRedirectMax=10
_urlHeaderLinesToSave=15
_urlLocation=,this server
_urlOtherHeader=Pragma: No-Cache
_urlUnixSSL=
_URLRemoteLocationsMax=6
_urlRemoteRequestMax=4
_URLMonitorProxyExceptions=
_URLSequenceMonitorIgnoreHTMLComments=
_URLSequenceMonitorSteps=20
_URLUserAgent=Mozilla/4.0 (compatible; MSIE 4.01; Windows NT)
_userRedirectFile=
_userReportIndexHTML=
_useThreadPool=yes
_verifySleepDuration=5000
_vugenPath=\SiteView\tools\dispatcher\bin\
_warningInsertHTML=
