td{font-size:9pt;}
A:link {
	COLOR: #0000cc; FONT-SIZE:9pt; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff0000; FONT-SIZE:9pt; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0000cc; FONT-SIZE:9pt; TEXT-DECORATION: none
}
