td{font-size:9pt;}
A:link {
	COLOR: #0000ff; FONT-FAMILY:"ו"; FONT-SIZE:9pt; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #ff0000; FONT-FAMILY:"ו"; FONT-SIZE:9pt; TEXT-DECORATION: underline
}
A:visited {
	FONT-FAMILY:"ו"; FONT-SIZE:9pt; TEXT-DECORATION: underline
}
