
[information]
CheckTime=2
ExitTimeOut=1
RestartTime=240

[MonitorSchedule]
DemoMode=false
SEID_xxx=3
ServerHost_xxxx=192.168.6.39
UseLocalBuffer=0
EnableAppendMassRecord=1
MilliSecondBetweenAppend=10000
PreLoadLibrary=mailmonitor.dll
MonitorTreadPlusCount=20

[svapi_xxx]
SvdbHostAddr=192.168.6.39

[EnableWatch]
AlertServer=0
reportgenerate=0
MonitorSchedule=0

[ExeToBeWatched]
exes1=EventServer.exe -service,echo.exe,logout.exe,echo.exe, ,
exes=xfire.bat

