<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>ajaxgui</display-name>

	<servlet>
		<servlet-name>Label</servlet-name>
		<servlet-class>de.ajaxgui.servlet.MainServlet</servlet-class>
		<init-param>
			<param-name>mainclass</param-name>
			<param-value>de.ajaxgui.test.Label</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>Tree</servlet-name>
		<servlet-class>de.ajaxgui.servlet.MainServlet</servlet-class>
		<init-param>
			<param-name>mainclass</param-name>
			<param-value>de.ajaxgui.test.Tree</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>Button</servlet-name>
		<servlet-class>de.ajaxgui.servlet.MainServlet</servlet-class>
		<init-param>
			<param-name>mainclass</param-name>
			<param-value>de.ajaxgui.test.Button</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>CheckBox</servlet-name>
		<servlet-class>de.ajaxgui.servlet.MainServlet</servlet-class>
		<init-param>
			<param-name>mainclass</param-name>
			<param-value>de.ajaxgui.test.CheckBox</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>RadioButton</servlet-name>
		<servlet-class>de.ajaxgui.servlet.MainServlet</servlet-class>
		<init-param>
			<param-name>mainclass</param-name>
			<param-value>de.ajaxgui.test.RadioButton</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>ComboBox</servlet-name>
		<servlet-class>de.ajaxgui.servlet.MainServlet</servlet-class>
		<init-param>
			<param-name>mainclass</param-name>
			<param-value>de.ajaxgui.test.ComboBox</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>TextField</servlet-name>
		<servlet-class>de.ajaxgui.servlet.MainServlet</servlet-class>
		<init-param>
			<param-name>mainclass</param-name>
			<param-value>de.ajaxgui.test.TextField</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>TabControl</servlet-name>
		<servlet-class>de.ajaxgui.servlet.MainServlet</servlet-class>
		<init-param>
			<param-name>mainclass</param-name>
			<param-value>de.ajaxgui.test.TabControl</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>ExtTabControl</servlet-name>
		<servlet-class>de.ajaxgui.servlet.MainServlet</servlet-class>
		<init-param>
			<param-name>mainclass</param-name>
			<param-value>de.ajaxgui.test.ExtTabControl</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>ListView</servlet-name>
		<servlet-class>de.ajaxgui.servlet.MainServlet</servlet-class>
		<init-param>
			<param-name>mainclass</param-name>
			<param-value>de.ajaxgui.test.ListView</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>Modal</servlet-name>
		<servlet-class>de.ajaxgui.servlet.MainServlet</servlet-class>
		<init-param>
			<param-name>mainclass</param-name>
			<param-value>de.ajaxgui.test.Modal</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>Image</servlet-name>
		<servlet-class>de.ajaxgui.servlet.MainServlet</servlet-class>
		<init-param>
			<param-name>mainclass</param-name>
			<param-value>de.ajaxgui.test.Image</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>UserControl</servlet-name>
		<servlet-class>de.ajaxgui.servlet.MainServlet</servlet-class>
		<init-param>
			<param-name>mainclass</param-name>
			<param-value>de.ajaxgui.test.UserControl</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>Singleton</servlet-name>
		<servlet-class>de.ajaxgui.servlet.MainServlet</servlet-class>
		<init-param>
			<param-name>mainclass</param-name>
			<param-value>de.ajaxgui.test.Singleton</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>ImageStream</servlet-name>
		<servlet-class>de.ajaxgui.servlet.MainServlet</servlet-class>
		<init-param>
			<param-name>mainclass</param-name>
			<param-value>de.ajaxgui.test.ImageStream</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>DatePicker</servlet-name>
		<servlet-class>de.ajaxgui.servlet.MainServlet</servlet-class>
		<init-param>
			<param-name>mainclass</param-name>
			<param-value>de.ajaxgui.test.DatePicker</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>FlowLayout</servlet-name>
		<servlet-class>de.ajaxgui.servlet.MainServlet</servlet-class>
		<init-param>
			<param-name>mainclass</param-name>
			<param-value>de.ajaxgui.test.FlowLayout</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>HorizontalBoxLayout</servlet-name>
		<servlet-class>de.ajaxgui.servlet.MainServlet</servlet-class>
		<init-param>
			<param-name>mainclass</param-name>
			<param-value>
				de.ajaxgui.test.HorizontalBoxLayout
			</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>GridLayout</servlet-name>
		<servlet-class>de.ajaxgui.servlet.MainServlet</servlet-class>
		<init-param>
			<param-name>mainclass</param-name>
			<param-value>de.ajaxgui.test.GridLayout</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>Tree</servlet-name>
		<url-pattern>/Tree/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Label</servlet-name>
		<url-pattern>/Label/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Button</servlet-name>
		<url-pattern>/Button/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckBox</servlet-name>
		<url-pattern>/CheckBox/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RadioButton</servlet-name>
		<url-pattern>/RadioButton/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ComboBox</servlet-name>
		<url-pattern>/ComboBox/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TextField</servlet-name>
		<url-pattern>/TextField/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TabControl</servlet-name>
		<url-pattern>/TabControl/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExtTabControl</servlet-name>
		<url-pattern>/ExtTabControl/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListView</servlet-name>
		<url-pattern>/ListView/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Modal</servlet-name>
		<url-pattern>/Modal/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Image</servlet-name>
		<url-pattern>/Image/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserControl</servlet-name>
		<url-pattern>/UserControl/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Singleton</servlet-name>
		<url-pattern>/Singleton/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageStream</servlet-name>
		<url-pattern>/ImageStream/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DatePicker</servlet-name>
		<url-pattern>/DatePicker/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FlowLayout</servlet-name>
		<url-pattern>/FlowLayout/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HorizontalBoxLayout</servlet-name>
		<url-pattern>/HorizontalBoxLayout/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GridLayout</servlet-name>
		<url-pattern>/GridLayout/*</url-pattern>
	</servlet-mapping>

</web-app>
