BODY{
	font-family : Arial, Helvetica, sans-serif;	
	font-size:10pt;
}

H1 {
	color: #003366;
	font-family : Arial, Helvetica, sans-serif;
}
H2 {
	color: #003366;
        font-family : Arial, Helvetica, sans-serif;
}

H3 {
	color: #003366;
	font-family : Arial, Helvetica, sans-serif;
}

p {
	color: #000000;
	font-family : Arial, Helvetica, sans-serif;
        font-size : 10pt;
}

th {
	color: #003366;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11pt;
}

td {
	color: #000000;
	font-family : Arial, Helvetica, sans-serif;
        font-size : 10pt;
}

a {
	font-family : Arial, Helvetica, sans-serif;
}

b {
	font-family : Arial, Helvetica, sans-serif;
}

input {
	font-family : Arial, Helvetica, sans-serif;
}

.tabhead {background-color:#FFFFFF;}

.subgroup {background-color:#F0F0F0;}

.viewShown {
	color : #003366;
}
