_nextID=2
_fileEncoding=UTF-8
#
_id=administrator
_realName=SiteView Administrator
_password=(0x)LEMNOBMOME
_login=admin
_useGlobalPermissions=true
_edit=true
#
_reportIndexToolbar=true
_progress=true
_alertAdhocReport=true
_preferenceTest=true
_id=user
_topazConfigChangesReport=true
_reportAdhoc=true
_realName=SiteView User
_disabled=true
_alertRecentReport=true
_monitorRecent=true
_monitorTools=true
_browse=true
_tools=true
#
_monitorAcknowledge=true
_preference=true
_monitorDisable=true
_groupRefresh=true
_progress=true
_alertAdhocReport=true
_reportToolbar=true
_preferenceTest=true
_monitorEdit=true
_id=login1
_healthDisable=true
_groupEdit=true
_alertEdit=true
_reportDisable=true
_reportAdhoc=true
_password=(0x)IGJMKFJOILJOJG
_monitorRefresh=true
_login=jet111
_reportGenerate=true
_alertRecentReport=true
_multiEdit=true
_groupDisable=true
_monitorRecent=true
_alertTempDisable=true
_monitorTools=true
_browse=true
_alertList=true
_logs=true
_healthView=true
_support=true
_tools=true
_reportEdit=true
_alertTest=true
_healthEdit=true
_alertDisable=true
