body {font-size:12px;color:black;}
.smalltext {  font-family: "ו", "serif"; font-size: 12px; color: #000000}
.middlefont {  font-family: "ו", "serif"; font-size: 14px; color: #000000}
.border {  border: 1px #0066CC solid}
.unnamed1 {  left: 10px; top: 20px; clip:    rect(   ); position: relative}
