_nextID=100
#
_id=1
_framesHTML=AdminFrame.htm
_title=AdminView
#
_header=HeaderL.htm
_id=2
_cell=view=Toolbar.htm yStart=1 yEnd=1 xEnd=1 query=1 xStart=1 hint= focus=
_cell=view=Links.htm yStart=2 yEnd=2 xEnd=1 query=1 xStart=1 hint= focus=
_cell=view=Home.xsl yStart=3 yEnd=3 xEnd=2 query=1 xStart=2 hint= focus=
_cell=view=Footer.htm yStart=4 yEnd=4 xEnd=1 query=1 xStart=1 hint= focus=
_title=Home
#
_header=HeaderD.htm
_id=3
_cell=view=Toolbar.htm yStart=1 yEnd=1 xEnd=1 query=1 xStart=1 hint= focus=
_cell=view=Links.htm yStart=2 yEnd=2 xEnd=1 query=1 xStart=1 hint= focus=
_cell=view=Errors.xsl yStart=3 yEnd=3 xEnd=1 query=1 xStart=1 hint= focus=
_cell=view=Footer.htm yStart=4 yEnd=4 xEnd=1 query=1 xStart=1 hint= focus=
_title=Errors
#
_header=HeaderD.htm
_id=4
_cell=view=Toolbar.htm yStart=1 yEnd=1 xEnd=1 query=1 xStart=1 hint= focus=
_cell=view=Links.htm yStart=2 yEnd=2 xEnd=1 query=1 xStart=1 hint= focus=
_cell=view=Browse.xsl yStart=3 yEnd=3 xEnd=1 query=1 xStart=1 hint= focus=
_cell=view=Footer.htm yStart=4 yEnd=4 xEnd=1 query=1 xStart=1 hint= focus=
_title=Browse
#
_header=HeaderL.htm
_id=5
_cell=view=Toolbar.htm yStart=1 yEnd=1 xEnd=1 query=1 xStart=1 hint= focus=
_cell=view=Links.htm yStart=2 yEnd=2 xEnd=1 query=1 xStart=1 hint= focus=
_cell=view=Multiview.xsl yStart=3 yEnd=2 xEnd=1 query=1 xStart=1 hint= focus=
_cell=view=Footer.htm yStart=4 yEnd=4 xEnd=1 query=1 xStart=1 hint= focus=
_title=Multiview
#
_header=Header.htm
_id=6
_cell=view=Toolbar.htm yStart=1 yEnd=1 xEnd=1 query=1 xStart=1 hint= focus=
_cell=view=Preferences.htm yStart=2 yEnd=2 xEnd=1 query= xStart=1
_cell=view=Footer.htm yStart=3 yEnd=3 xEnd=1 query=1 xStart=1 hint= focus=
_title=Preferences
#
_header=HeaderD.htm
_id=7
_cell=view=Toolbar.htm yStart=1 yEnd=1 xEnd=1 query=1 xStart=1 hint= focus=
_cell=view=GroupDetail.xsl yStart=2 yEnd=2 xEnd=1 query=1 xStart=1 hint= focus=detail
_cell=view=Footer.htm yStart=3 yEnd=3 xEnd=1 query=1 xStart=1 hint= focus=
_title=Group