// *******************************************************
// *******	Note about his monitor set mapping *******
// *******************************************************
_descriptionForUi=Admin Server
_topazHostTypeMask=32
_monitorSets_Windows=Common.mset,TopazSupervisor.mset,TopazWebServer.mset,AdminServer.mset
_monitorSets_Unix=CommonUNIX.mset,TopazSupervisorUNIX.mset,TopazWebServerUNIX.mset,AdminServerUNIX.mset
#
_descriptionForUi=Agent Server
_topazHostTypeMask=16
_monitorSets_Windows=Common.mset,TopazSupervisor.mset,TopazWebServer.mset,AgentServer.mset
_monitorSets_Unix=CommonUNIX.mset,TopazSupervisorUNIX.mset,TopazWebServerUNIX.mset,AgentServerUNIX.mset
#
_descriptionForUi=Aggregation Server
_topazHostTypeMask=1024
_monitorSets_Windows=Common.mset,TopazSupervisor.mset,AggregationServer.mset
_monitorSets_Unix=CommonUNIX.mset,TopazSupervisorUNIX.mset,AggregationServerUNIX.mset
#
_descriptionForUi=Alert Server
_topazHostTypeMask=128
_monitorSets_Windows=Common.mset,TopazSupervisor.mset,AlertServer.mset
_monitorSets_Unix=CommonUNIX.mset,TopazSupervisorUNIX.mset,AlertServerUNIX.mset
#
_descriptionForUi=EMS Probe
_topazHostTypeMask=8192
_monitorSets_Windows=Common.mset,TopazSupervisor.mset,EMSProbe.mset
_monitorSets_Unix=
#
_descriptionForUi=Graph Server
_topazHostTypeMask=64
_monitorSets_Windows=Common.mset,TopazSupervisor.mset,TopazWebServer.mset,GraphServer.mset
_monitorSets_Unix=CommonUNIX.mset,TopazSupervisorUNIX.mset,TopazWebServerUNIX.mset,GraphServerUNIX.mset
#
_descriptionForUi=Database Server
_topazHostTypeMask=512
_dbType=2
_monitorSets_Windows=Common.mset,SQL.mset
_monitorSets_Unix=
_comment=the _dbType parameter reflects the database type id according to the DatabasesTypes table in Topaz Management DB
#
_descriptionForUi=Database Server
_topazHostTypeMask=512
_dbType=3
_monitorSets_Windows=Common.mset,Oracle.mset
_monitorSets_Unix=CommonUNIX.mset,OracleUNIX.mset
_comment=the _dbType parameter reflects the database type id according to the DatabasesTypes table in Topaz Management DB
#
_descriptionForUi=Database Server
_topazHostTypeMask=512
_dbType=4
_monitorSets_Windows=Common.mset,MSDE.mset
_monitorSets_Unix=
#
_descriptionForUi=Scheduled Tasks Server
_topazHostTypeMask=2048
_monitorSets_Windows=Common.mset,TopazSupervisor.mset,ScheduledTasksServer.mset
_monitorSets_Unix=CommonUNIX.mset,TopazSupervisorUNIX.mset,ScheduledTasksServerUNIX.mset
#
_descriptionForUi=Topaz Bus Server
_topazHostTypeMask=131072
_monitorSets_Windows=Common.mset,TopazSupervisor.mset,TopazBus.mset
_monitorSets_Unix=CommonUNIX.mset,TopazSupervisorUNIX.mset,TopazBusUNIX.mset
#
_descriptionForUi=Business Process Monitor
_topazHostTypeMask=1
_monitorSets_Windows=Agent.mset
_monitorSets_Unix=AgentUNIX.mset
#
_descriptionForUi=Topaz Client Monitor Agent
_topazHostTypeMask=8
_monitorSets_Windows=Observer.mset
_monitorSets_Unix=ObserverUNIX.mset
#
_descriptionForUi=SiteView
_topazHostTypeMask=16384
_monitorSets_Windows=SiteView.mset
_monitorSets_Unix=SiteViewUNIX.mset
