// *******************************************************
// *******	Note about his monitor set mapping *******
// *******************************************************
_descriptionForUi=Centers Server
_topazHostTypeMask=67680
_monitorSets_Windows=Common.mset,TopazSupervisor.mset,TopazWebServer.mset,CentersServer.mset
_monitorSets_Unix=CommonUNIX.mset,TopazSupervisorUNIX.mset,TopazWebServerUNIX.mset,CentersServerUNIX.mset
#
_descriptionForUi=Core Server
_topazHostTypeMask=8258704
_monitorSets_Windows=Common.mset,TopazSupervisor.mset,TopazWebServer.mset,CoreServer.mset
_monitorSets_Unix=CommonUNIX.mset,TopazSupervisorUNIX.mset,TopazWebServerUNIX.mset,CoreServerUNIX.mset
#
_descriptionForUi=Database Server
_topazHostTypeMask=512
_dbType=2
_monitorSets_Windows=Common.mset,SQL.mset
_monitorSets_Unix=
_comment=the _dbType parameter reflects the database type id according to the DatabasesTypes table in Topaz Management DB
#
_descriptionForUi=Database Server
_topazHostTypeMask=512
_dbType=3
_monitorSets_Windows=Common.mset,Oracle.mset
_monitorSets_Unix=CommonUNIX.mset,OracleUNIX.mset
_comment=the _dbType parameter reflects the database type id according to the DatabasesTypes table in Topaz Management DB
#
_descriptionForUi=Database Server
_topazHostTypeMask=512
_dbType=4
_monitorSets_Windows=Common.mset,MSDE.mset
_monitorSets_Unix=
#
_descriptionForUi=Business Process Monitor
_topazHostTypeMask=1
_monitorSets_Windows=Agent.mset
_monitorSets_Unix=AgentUNIX.mset
#
_descriptionForUi=Topaz Client Monitor Agent
_topazHostTypeMask=8
_monitorSets_Windows=Observer.mset
_monitorSets_Unix=ObserverUNIX.mset
#
_descriptionForUi=SiteView
_topazHostTypeMask=16384
_monitorSets_Windows=SiteView.mset
_monitorSets_Unix=SiteViewUNIX.mset
