_nextID=100
#
_id=1
_title=One Pane with Tool Bar and Footer
_cell=xStart=1 xEnd=1 yStart=1 yEnd=1
_cell=xStart=1 xEnd=1 yStart=2 yEnd=2
_cell=xStart=1 xEnd=1 yStart=3 yEnd=3
#
_id=2
_title=One Pane (suitable for a background graphic)
_cell=xStart=1 xEnd=1 yStart=1 yEnd=1
#
_id=3
_title=Two Pane with Tool Bar and Footer
_cell=xStart=1 xEnd=2 yStart=1 yEnd=1
_cell=xStart=1 xEnd=1 yStart=2 yEnd=2
_cell=xStart=2 xEnd=2 yStart=2 yEnd=2
_cell=xStart=1 xEnd=2 yStart=3 yEnd=3
#
_id=4
_title=Three Pane with Tool Bar and Footer
_cell=xStart=1 xEnd=3 yStart=1 yEnd=1
_cell=xStart=1 xEnd=1 yStart=2 yEnd=2
_cell=xStart=2 xEnd=2 yStart=2 yEnd=2
_cell=xStart=3 xEnd=3 yStart=2 yEnd=2
_cell=xStart=1 xEnd=3 yStart=3 yEnd=3
