precision=default
_hideReportGraphs=checked
noSlotFilter=true
startHour=50400
reportType=barGraph
schedule=weekday	M,T,W,R,F,S,U	59400
_hideReportCharts=checked
monitors=1 Group0
id=15
startDay=today
_fileEncoding=UTF-8
window=3600
email=dingbing.xu@dragonflow.com
basic=checked
relative=-1
